<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lingvo90"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CherninBagrutProj">
        <activity
            android:name=".activities.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CreateSentenceGroupActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SentenceTodayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateSentenceActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SentenceActivity"
            android:exported="true" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.actions" -->
        <!-- android:resource="@xml/actions" /> -->
        <activity
            android:name=".activities.SentenceGroupsListActivity"
            android:exported="true"></activity>

    </application>

</manifest>